<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pessoa CRUD UI</title>
    <!-- Include Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="preload stylesheet" href="/static/styles.css" as="style" />
  </head>

  <body>
    <nav
      class="navbar is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <strong>Pessoa CRUD UI</strong>
        </a>
    </div>
    <a class="navbar-item" onclick="toggleCreateModal()">
      <strong>Adicionar Pessoa</strong>
    </a>
    </nav>

    <div class="block">
      <table class="table is-striped is-hoverable pessoa-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data de Admissão</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>

      <div id="modal-cliente-data" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
          <div class="card box">
            <button class="modal-close" aria-label="close"></button>
            <div class="columns modal-content">
              <div><b>Nome:</b> <span id="nome"></span></div>
              <div><b>RG:</b> <span id="rg"></span></div>
              <div><b>CPF:</b> <span id="cpf"></span></div>
              <div>
                <b>Data nascimento:</b> <span id="data_nascimento"></span>
              </div>
              <div><b>Data admissao:</b> <span id="data_admissao"></span></div>
              <div><b>Função:</b> <span id="funcao"></span></div>
            </div>
            <footer class="columns">
              <div class="column is-hidden">
                <a
                  class="button is-small is-primary level-item"
                  id="save-button"
                  ><span>Salvar</span></a
                >
              </div>
              <div class="column">
                <a
                  class="button is-small is-primary level-item"
                  id="edit-button"
                  ><span>Editar</span></a
                >
              </div>
              <div class="column">
                <a
                  class="button is-small is-danger level-item"
                  id="delete-button"
                  ><span>Remover</span></a
                >
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>

    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@7.3.67/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <script src="/static/main.js"></script>
  </body>
</html>
